@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menu-button {
  position: fixed;
  top: 10px;
  left: 215px;
}

.menu-column {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 250px;
  color: #000501;
  background-color: #79C7C5;
  font-size: 25px;
  padding: 10px;
  border-bottom-right-radius: 10px;
}

.button-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
